@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --font-retweet: 'Oswald', sans-serif;

  --gradient-text-blue: linear-gradient(89.97deg, #26b4f5 1.84%, #042c54 102.67%);
  --gradient-text: linear-gradient(73deg, rgba(238,238,238,1) 32%, rgba(172,190,222,1) 88%);
  
  --color-bg: #FEFBFB;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-menu: #26b4f5;
}